<div class="body">
  <mat-card class="loginCard">
    <div class="header">
      <h2>Login</h2>
    </div>
    <mat-card-content style="padding-bottom: 15px;">
      <form [formGroup]="formularioLogin"(ngSubmit)="iniciarsesion()">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="correo" matInput autocomplete="off">
          <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Password</mat-label>
          <input [type]="ocultarpassword ? 'password': 'text'" formControlName="clave" matInput autocomplete="off">
          <button mat-icon-button matSuffix
          (click)="ocultarpassword = !ocultarpassword" type="button">
          <mat-icon>{{ocultarpassword? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
        </mat-form-field>
        <button class="full-width" mat-raised-button color="primary" type="submit"           [disabled]="formularioLogin.invalid">
          Ingresar
          <mat-icon matSuffix>login</mat-icon>
        </button>

      </form>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate" *ngIf="mostrarLoading"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
